/******** Core ********/
a {
    color: #0000ff;
    text-decoration: none;
}

a:hover {
    color: #ffa54e;
}

/** Borders around forms **/
.mform fieldset {
    border-color: #BF2B31;
}

/** Tables on admin pages **/
.path-admin .generaltable tr {
    border-top: 1px solid #BF2B31;
    border-bottom: 1px solid #BF2B31;
}

/******** Blocks ********/
/** Fonts in block header **/
.block .header h2 {
    color: #FFFFFF;
}

/** Borders and backgrounds **/
.block {
    border-color: #BF2B31;
}

.block .header {
    background-color: #BF2B31;
}

.block .content a {
    color: #0000ff;
}

.block .content a:hover {
    color: #ffa54e;
}

.calendartable .weekdays {
    border-top: 2px solid #BF2B31;
    border-bottom: 2px solid #BF2B31;
}

/******** Course ********/
/**  Highlighted course box **/
.course-content .current {
    background-color: #BF2B31;
    border-color: #BF2B31;
    color: #FFFFFF;
}

/** Formatting for hidden course box **/
.course-content .hidden {
    border-color: #E6E6E6;
    color: #CCCCCC;
}

/******** Custom menu ********/
/* ---------------- Custommenu ---------------- */

/*cutom menu */
#custommenu .yui3-menuitem-active {background-color:#FFA54E;}

#custommenu {
    background-color: #4C4D4F;
    border: 1px #FFFFFF solid;
}

.yui3-skin-sam #page .yui3-menu-label,
.yui3-skin-sam #page .yui3-menuitem-content  {
    color: #FFFFFF;
}

.custom_menu_submenu .yui3-menu-label,
.custom_menu_submenu .yui3-menuitem-content {
    color: #000 !important;
}

.yui3-skin-sam #page .yui3-menu-label.yui3-menu-label-active,
.yui3-skin-sam #page .yui3-menu-label.yui3-menu-label-menuvisible,
.yui3-skin-sam #page .yui3-menuitem-active .yui3-menuitem-content {
    color: #000;
    background-color: #FFA54E;
    border: 1px solid #B3B3B3 !important;
}

.yui3-skin-sam #page .yui3-menu-content,
.yui3-skin-sam #page .yui3-menu-content,
.yui3-skin-sam #page .yui3-menu .yui3-menu .yui3-menu-content,
.yui3-skin-sam #page .yui3-menu-horizontal .yui3-menu-label,
.yui3-skin-sam #page .yui3-menu-horizontal .yui3-menuitem-content  {
    border: none !important;
}

.yui3-skin-sam .yui3-menu-horizontal .yui3-menu-label,
.yui3-skin-sam .yui3-menu-horizontal .yui3-menuitem-content {
    border-color:transparent;
}

#page .custom_menu_submenu {
    border: 1px solid #BF2B31 !important;
    box-shadow: 2px 2px 2px #CCCCCC;
    background: #FFFFFF;
}

/******** Dock ********/
#dock {
    background-color: #BF2B31;
}

#dock .dockedtitle h2 {
    color: #FFFFFF;
}

#dockeditempanel .dockeditempanel_content {
    border: 1px solid #BF2B31;
}

#dockeditempanel .dockeditempanel_hd {
    background-color: #BF2B31;
}

#dockeditempanel .dockeditempanel_hd h2 {
    color: #FFFFFF;
}

/******** Modules ********/
/** Tab trees in all modules **/
.tabtree li {
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}

.tabtree ul {
    border-bottom: 2px solid #000000;
}

/* Forum table */
.forumheaderlist thead {
    background-color: #BF2B31;
    color: #FFFFFF;
}

/* Forum posts */
.forumpost {
    border-color: #BF2B31;
}

.forumpost .header {
    background-color: #BF2B31;
    color: #FFFFFF;
}

.forumpost .header a {
    color: #FFFFFF;
    text-decoration: underline;
}

/** Assignments **/
/* Attempts table */
#attempts tr {
    border-top: 1px solid #BF2B31;
    border-bottom: 1px solid #BF2B31;
}

/******** Navbar ********/
.navbar {
    color: #444444;
}

.navbar a {
    color: #0000ff;
}

.navbar a:hover {
    color: #ffa54e;
}